@model CommercialWeb.Models.SanPham

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

@*Bước 1(datetimepicker): dùng để tạo datetimepicker*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@*Bước 2(datetimepicker): Xây dựng 1 function để điều hướng thẻ html theo dạng control datepicker*@
<script>
    $(function () {
        $(".date").datepicker();
    });
</script>

@*Bước 1 khi sử dụng control editor tinymce*@
<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: ".mota",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>

@*Bước 1(thêm hình ảnh): thêm vào BeginForm @enctype = "multipart/form-data"*@
@using (Html.BeginForm("TaoMoi", "QuanLySanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thêm mới sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Tên sản phầm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                <span id="tbTenSP" style="color: red;"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Đơn giá</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                <span id="tbDonGia" style="color: red;"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mô tả</label>
            <div class="col-md-10">
                <textarea class="mota" rows="10" id="MoTa" name="MoTa"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Nhà sản xuất</label>
            <div class="col-md-3">
                @Html.DropDownList("MaNSX", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nhà sản xuất</label>
            <div class="col-md-3">
                @Html.DropDownList("MaLoaiSP", null, new { @class = "form-control" })
            </div>
        </div>
        @*Bước 2 thêm hình ảnh là chỉnh type = file*@

        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh 1</label>
            <div class="col-md-10">
                <input id="HinhAnh1" name="HinhAnh" type="file" />
                <span id="tbHinhAnh1" style="color: red;"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh 2</label>
            <div class="col-md-10">
                <input id="HinhAnh2" name="HinhAnh" type="file" />
                <span id="tbHinhAnh2" style="color: red;"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh 3</label>
            <div class="col-md-10">
                <input id="HinhAnh3" name="HinhAnh" type="file" />
                <span id="tbHinhAnh3" style="color: red;"></span>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-info" href="@Url.Action("IndexQuanLySP", "QuanLySanPham")">Quay lại</a>
            <input type="submit" value="Thêm" class="btn btn-success" id="btnThem" />
        </div>
    </div>
}

<script>
    $(document)
        .ready(function () {
            $('#btnThem')
                .click(function () {
                    var loi = 0;
                    if ($('#TenSP').val() == "") {
                        $('#tbTenSP').text("Tên sản phẩm không được bỏ trống");
                        loi++;
                    }
                    else {
                        $('#tbTenSP').text("");
                    }
                    if ($('#DonGia').val() == "") {
                        $('#tbDonGia').text("Đơn giá không được bỏ trống");
                        loi++;
                    }
                    else {
                        $('#tbDonGia').text("");
                    }
                    if ($('#DonGia').val() == "") {
                        $('#tbDonGia').text("Đơn giá không được bỏ trống");
                        loi++;
                    }
                    else {
                        $('#tbDonGia').text("");
                    }
                    if ($('#CauHinh').val() == "") {
                        $('#tbCauHinh').text("Cấu hình không được bỏ trống");
                        loi++;
                    }
                    else {
                        $('#tbCauHinh').text("");
                    }

                    if ($('#Moi').val() == "") {
                        $('#tbMoi').text("Vui lòng chọn giá trị");
                        loi++;
                    }
                    else {
                        $('#tbMoi').text("");
                    }
                    if ($('#DaXoa').val() == "") {
                        $('#tbDaXoa').text("Vui lòng chọn giá trị");
                        loi++;
                    }
                    else {
                        $('#tbDaXoa').text("");
                    }

                    if ($('#HinhAnh').val() == "") {
                        $('#tbHinhAnh').text("Vui lòng chọn hình ảnh");
                        loi++;
                    }
                    else {
                        $('#tbHinhAnh').text("");
                    }
                    if ($('#HinhAnh1').val() == "") {
                        $('#tbHinhAnh1').text("Vui lòng chọn hình ảnh");
                        loi++;
                    }
                    else {
                        $('#tbHinhAnh1').text("");
                    }
                    if ($('#HinhAnh2').val() == "") {
                        $('#tbHinhAnh2').text("Vui lòng chọn hình ảnh");
                        loi++;
                    }
                    else {
                        $('#tbHinhAnh2').text("");
                    }
                    if ($('#HinhAnh3').val() == "") {
                        $('#tbHinhAnh3').text("Vui lòng chọn hình ảnh");
                        loi++;
                    }
                    else {
                        $('#tbHinhAnh3').text("");
                    }

                    if (loi != 0) {
                        return false;
                    }
                });

            // Sự kiện khi chọn file hình ảnh
            $("#HinhAnh").change(function () {

                var val = $(this).val();

                switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
                    case 'gif': case 'jpg': case 'png':
                        $('#tbHinhAnh').text("");
                        break;
                    default:
                        $(this).val('');
                        $('#tbHinhAnh').text("Hình ảnh không hợp lệ");
                        return false;
                }
            });
            $("#HinhAnh1").change(function () {

                var val = $(this).val();

                switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
                    case 'gif': case 'jpg': case 'png':
                        $('#tbHinhAnh1').text("");
                        break;
                    default:
                        $(this).val('');
                        $('#tbHinhAnh1').text("Hình ảnh không hợp lệ");
                        return false;
                }
            });
            $("#HinhAnh2").change(function () {

                var val = $(this).val();

                switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
                    case 'gif': case 'jpg': case 'png':
                        $('#tbHinhAnh2').text("");
                        break;
                    default:
                        $(this).val('');
                        $('#tbHinhAnh2').text("Hình ảnh không hợp lệ");
                        return false;
                }
            });

            $("#HinhAnh3").change(function () {

                var val = $(this).val();

                switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
                    case 'gif': case 'jpg': case 'png':
                        $('#tbHinhAnh3').text("");
                        break;
                    default:
                        $(this).val('');
                        $('#tbHinhAnh3').text("Hình ảnh không hợp lệ");
                        return false;
                }
            });


            // Sự kiện khi thay đổi ký tự trong các trường dữ liệu
            jQuery('#TenSP').on('input propertychange paste', function () {
                if ($("#TenSP").val() != "") {
                    $('#tbTenSP').text("");
                } else {
                    $('#tbTenSP').text("Cấu hình không được bỏ trống");
                    return false;
                }
            });

            jQuery('#CauHinh').on('input propertychange paste', function () {
                if ($("#CauHinh").val() != "") {
                    $('#tbCauHinh').text("");
                } else {
                    $('#tbCauHinh').text("Cấu hình không được bỏ trống");
                    return false;
                }
            });

            jQuery('#Moi').on('change', function () {
                if ($("#Moi").val() != "") {
                    $('#tbMoi').text("");
                } else {
                    $('#tbMoi').text("Vui lòng chọn giá trị");
                    return false;
                }
            });
            jQuery('#DaXoa').on('change', function () {
                if ($("#DaXoa").val() != "") {
                    $('#tbDaXoa').text("");
                } else {
                    $('#tbDaXoa').text("Vui lòng chọn giá trị");
                    return false;
                }
            });
            jQuery('#CauHinh').on('input propertychange paste', function () {
                if ($("#CauHinh").val() != "") {
                    $('#tbCauHinh').text("");
                } else {
                    $('#tbCauHinh').text("Cấu hình không được bỏ trống");
                    return false;
                }
            });

            // kiểm tra kiểu và giá trị của đơn giá
            $('#DonGia')
                .keyup(function () {
                    var DonGia = $("#DonGia").val();
                    if (isNaN(DonGia) === true || DonGia < 0 || DonGia == "") {
                        $('#tbDonGia').text("Đơn giá nhập vào không hợp lệ");
                        return false;
                    } else {
                        $('#tbDonGia').text("");
                    }
                });
        });
</script>