@model CommercialWeb.Models.SanPham

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}



<h3>Bạn có chắc chắc xóa sản phẩm này?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>

        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Loại sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLoaiSP)
        </dd>

        <dt>
            Đơn giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            Hình ảnh 1:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh1)
        </dd>

        <dt>
            Hình ảnh 2:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh2)
        </dd>

        <dt>
            Hình ảnh 3:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh3)
        </dd>

        <dt>
            Nhà sản xuất:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaSanXuat.TenNSX)
        </dd>

        <dt>
            Ngày nhập:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
           Thời gian bảo hành:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiHanBaoHanh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "QuanLySanPham")
        </div>
    }
</div>
