@using CommercialWeb.Models
@using PagedList.Mvc;
@model IEnumerable<SanPham>

@foreach (var item in Model.OrderBy(n => n.DonGia))
{
    <!-- single-brand-product start -->
    <div class="col-xs-4">
        <div class="single-brand-product">
            <a href="single-product.html"><img src="@Url.Content("~/Content/ProductImages/" + item.HinhAnh1)" alt="@item.TenSP"></a>
        </div>
        <h5 class="brand-title text-gray" style="text-align:center; margin-top:10px">
            <a href="#">@item.TenSP</a>
        </h5>
    </div>
    <!-- single-brand-product end -->
}
@*<div class="=" dlink">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, Page => Url.Action("KQTimKiem", new object { page = Page, @sTuKhoa = ViewBag.TuKhoa }))
</div>*@
