@using CommercialWeb.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>

@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="col-md-12 SanPham">
    <div class="bottom-SanPham">
        <!-- header-search -->
        @foreach (var item in Model.OrderBy(n => n.DonGia))
        {
            <div class="col-md-4 bottom-cd simpleCart_shelfItem"
                <div class="SanPham-at">
                    <a href="sinle.html"
                        <img class="img-responsive" src="@Url.Content("~/Content/ProductImages/" + item.HinhAnh1)" alt="@item.TenSP">
                        <div class="pro-grid">
                           <span class="bye-in">Đặt mua</span>                 
                        </div>                 
                    </a>
                 </div>
                 <p class="tun">@item.TenSP</p>
              </div>
        }
     </div>
</div>
<div class="="dlink">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, Page => Url.Action("KQTimKiem",new object { page = Page, @sTuKhoa = ViewBag.TuKhoa}))
</div>