@using CommercialWeb.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>

@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Layout/SearchLayout.cshtml";
}
@{ 
    IEnumerable<NhaSanXuat> lstNSX = ViewBag.ListNSX as IEnumerable<NhaSanXuat>;
    IEnumerable<SanPham> lstSP = ViewBag.ListSP as IEnumerable<SanPham>;
    //IEnumerable<SanPham> lstMayTinh = ViewBag.ListMayTinh as IEnumerable<SanPham>;
    //IEnumerable<SanPham> lstLaptop = ViewBag.ListLaptop as IEnumerable<SanPham>;
    //IEnumerable<SanPham> lstLinhKien = ViewBag.ListLinhKien as IEnumerable<SanPham>;
}

@*
<div class="="dlink">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, Page => Url.Action("KQTimKiem",new object { page = Page, @sTuKhoa = ViewBag.TuKhoa}))
</div>*@

<div class="shop-section mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3 col-xs-12" id="sanpham">
                <!-- single-product-area start -->
                @Html.Partial("~/Views/TimKiem/DSSanPhamPartial.cshtml", lstSP)
                <!-- single-product-area end -->
            </div>
            <div class="col-md-3 col-md-pull-9 col-xs-12" >
                <!-- widget-categories -->
                <aside class="widget widget-categories box-shadow mb-30">
                    <h6 class="widget-title border-left mb-20">Danh mục</h6>
                    <div id="cat-treeview" class="product-cat">
                        <ul class="treeview">
                            <li>
                                @Ajax.ActionLink("Máy tính bàn", "LoadSanPham", "TimKiem",new { @MaLoai = 2 }, new AjaxOptions{ HttpMethod="GET",UpdateTargetId="sanpham", InsertionMode=InsertionMode.Replace})
                            </li>
                            <li><!--class="open collapsable"-->
                                @Ajax.ActionLink("Laptop", "LoadSanPham", "TimKiem", new { @MaLoai = 3 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "sanpham", InsertionMode = InsertionMode.Replace })
                            </li>
                            <li><!-- class="closed expandable"--> 
                                @Ajax.ActionLink("Linh Kiện", "LoadSanPham", "TimKiem", new { @MaLoai = 1 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "sanpham", InsertionMode = InsertionMode.Replace })
                            </li>
                        </ul>
                    </div>
                </aside>
                <!--Nhà sản xuất-->
                @Html.Partial("~/Views/TimKiem/NhaSXPartial.cshtml", lstNSX)
                <!-- muc-gia -->
                <aside class="widget operating-system box-shadow mb-30">
                    <h6 class="widget-title border-left mb-20">mức giá</h6>
                    <p style="font-style:italic">(Đơn vị tính: VND)</p>
                    <form @*action="action_page.php"*@>
                        <label><input type="radio" name="price" value="10" class="radio-price">  0 ~ 1,000,000</label><br>
                        <label><input type="radio" name="price" value="11" class="radio-price">  1,000,000 ~ 5,000,000</label><br>
                        <label><input type="radio" name="price" value="12" class="radio-price">  5,000,000 ~ 10,000,000</label><br>
                        <label><input type="radio" name="price" value="13" class="radio-price">  10,000,000 ~ 20,000,000</label><br>
                        <label><input type="radio" name="price" value="14" class="radio-price">  trên 20,000,000</label><br>
                    </form>
                </aside>
                <!-- widget-product -->
            </div>
        </div>
    </div>
</div>
<!--Pagination start-->
<ul class="shop-pagination box-shadow text-center ptblr-10-30" style="vertical-align:middle;">
    <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
    @for (int i = 0; i < Model.Count() / 12; i++)
    {
        <li><a href="#">i</a></li>
    }
    @Html.PagedListPager(Model, page => Url.Action("KQTimKiem", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
    <li class="active"><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
</ul>
<!--Pagination end-->
@*<div class="=" dlink">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("KQTimKiem", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
</div>*@
<script type="text/javascript">
    $(".radio-price").click(function () {
        var price = $(".radio-price:checked").val();
        $.ajax({
            type: "POST",
            data: {MaLoai: price},
            url: '@Url.Content("LoadSanPham")',
            success: function (ketqua) {
                $("#sanpham").html(ketqua);
            }
        })
    })
    $(".checkbox-brand").click(function () {
        var brand = parseInt($(".checkbox-brand").val());
        $.ajax({
            type: "POST",
            data: { MaLoai: brand },
            url: '@Url.Content("LoadTheoNSX")',
            success: function (ketqua) {
                $("#sanpham").html(ketqua);
            }
        })
    })
</script>