@using CommercialWeb.Models;
@model IEnumerable<SanPham>

<!-- popular-product start -->
<div class="tab-pane active" id="popular-product">
    <div class="row">
        @foreach (var item in Model.Take(8))
        {
            <!-- product-item start -->
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="product-item">
                    <div class="product-img">
                        <a href="single-product.html">
                            <img src="@Url.Content("~/Content/ProductImages/" + item.HinhAnh1)" alt="@item.TenSP">
                        </a>
                    </div>
                    <div class="product-info">
                        <h6 class="product-title" title="@item.TenSP">
                            <a href="single-product.html">@item.TenSP</a>
                        </h6>
                        <div class="pro-rating">
                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                            <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                        </div>
                        <h3 class="pro-price">@String.Format("{0:n0}", item.DonGia) VNĐ</h3>
                        <ul class="action-button">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                            </li>
                            <li>
                                <a href="location.href='@Url.Action()'" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- product-item end -->
            <!-- START QUICKVIEW PRODUCT -->
                <div id="quickview-wrapper">
                    <!-- Modal -->
                    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-product clearfix">
                                        <div class="product-images">
                                            <div class="main-image images">
                                                <img alt="" src="@Url.Content("~/Content/ProductImages/" + item.HinhAnh1)">
                                            </div>
                                        </div><!-- .product-images -->

                                        <div class="product-info">
                                            <h1>Aenean eu tristique</h1>
                                            <div class="price-box-3">
                                                <div class="s-price-box">
                                                    <span class="new-price">£160.00</span>
                                                    <span class="old-price">£190.00</span>
                                                </div>
                                            </div>
                                            <a href="single-product-left-sidebar.html" class="see-all">See all features</a>
                                            <div class="quick-add-to-cart">
                                                <form method="post" class="cart">
                                                    <div class="numbers-row">
                                                        <input type="number" id="french-hens" value="3">
                                                    </div>
                                                    <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                                </form>
                                            </div>
                                            <div class="quick-desc">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero.
                                            </div>
                                            <div class="social-sharing">
                                                <div class="widget widget_socialsharing_widget">
                                                    <h3 class="widget-title-modal">Share this product</h3>
                                                    <ul class="social-icons clearfix">
                                                        <li>
                                                            <a class="facebook" href="#" target="_blank" title="Facebook">
                                                                <i class="zmdi zmdi-facebook"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="google-plus" href="#" target="_blank" title="Google +">
                                                                <i class="zmdi zmdi-google-plus"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="twitter" href="#" target="_blank" title="Twitter">
                                                                <i class="zmdi zmdi-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="pinterest" href="#" target="_blank" title="Pinterest">
                                                                <i class="zmdi zmdi-pinterest"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="rss" href="#" target="_blank" title="RSS">
                                                                <i class="zmdi zmdi-rss"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- .product-info -->
                                    </div><!-- .modal-product -->
                                </div><!-- .modal-body -->
                            </div><!-- .modal-content -->
                        </div><!-- .modal-dialog -->
                    </div>
                    <!-- END Modal -->
                </div>
                <!-- END QUICKVIEW PRODUCT -->
        }
    </div>
</div>
<!-- popular-product end -->


