@using CommercialWeb.Models

@model IEnumerable<SanPham>
<div id="sp_laptop_noi_bat" class="featured-product-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-left mb-40">
                    <h2 class="uppercase">Sản phẩm Laptop nổi bật</h2>
                    <h6>Các sản phẩm Laptop cao cấp của chúng tôi.</h6>
                </div>
            </div>
        </div>
        <div class="featured-product">
            <div class="row active-featured-product slick-arrow-2">
                @foreach (var item in Model)
                {
 <!-- product-item start -->
                    <div class="col-xs-12">
                        <div class="product-item">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="@Url.Content("~/Content/ProductImages/" + item.HinhAnh1)" alt="@item.TenSP">
                                </a>
                            </div>
                            <div class="product-info">
                                <h6 class="product-title" title="@item.TenSP">
                                    <a href="single-product.html">@item.TenSP</a>
                                </h6>
                                <div class="pro-rating">
                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                </div>
                                <h3 class="pro-price">@String.Format("{0:n0}", item.DonGia) VNĐ</h3>
                                <ul class="action-button">
                                    <li>
                                        <a onclick="changeName('@item.TenSP', '@item.DonGia.Value.ToString("#,##") VNĐ','@item.HinhAnh1')" href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- product-item end -->
                }
               
            </div>
        </div>
    </div>
</div>
<!-- FEATURED PRODUCT SECTION END -->
