@using CommercialWeb.Models
@model IEnumerable<SanPham>

<div class="tab-pane" id="best-seller">
    <div class="row">
        @foreach (var item in Model.Take(8))
        {
            <!-- product-item start -->
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="product-item">
                    <div class="product-img">
                        <a href="single-product.html">
                            <img src="@Url.Content("~/Content/ProductImages/" + item.HinhAnh1)" alt="@item.TenSP">
                        </a>
                    </div>
                    <div class="product-info">
                        <h6 class="product-title" title="@item.TenSP">
                            <a href="single-product.html">@item.TenSP</a>
                        </h6>
                        <div class="pro-rating">
                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                            <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                        </div>
                        <h3 class="pro-price">@String.Format("{0:n0}", item.DonGia) VNĐ</h3>
                        <ul class="action-button">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                            </li>
                            <li>
                                @*<a href="@Url.Action("ThemGioHang","GioHang", new { MaSP = item.MaSP, URL = Request.Url.ToString()})" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>*@
                                @Ajax.ActionLink(" ", "ThemGioHangAjax", "GioHang", new { MaSP = item.MaSP, URL = Request.Url.ToString() }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "giohang", InsertionMode = InsertionMode.Replace }, new { @class = "zmdi zmdi-shopping-cart-plus" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- product-item end -->
        }
        
    </div>
</div>
