@using CommercialWeb.Models;

@model IEnumerable<SanPham>
@{
    var price = Model.ElementAt(1).DonGia / 22000;
}
 <!-- UP COMMING PRODUCT SECTION START -->
<div class="up-comming-product-section mb-80">
    <div class="container">
        <div class="row">
            <!-- up-comming-pro -->
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="up-comming-pro gray-bg clearfix">
                    <div class="up-comming-pro-img f-left">
                        <a href="#">
                            <img src="@Url.Content("~/Content/ProductImages/" + Model.ElementAt(0).HinhAnh1)" alt="@Model.ElementAt(0).TenSP">
                        </a>
                    </div>
                    <div class="up-comming-pro-info f-left">
                        <h3><a href="#">@Model.ElementAt(0).TenSP</a></h3>
                        <p>Đây là sản phẩm mới nhất của Dell với kiểu dáng mạnh mẽ và cấu hình khủng phục vụ cho nhiều đối tượng khách hàng. Bạn có thể chơi game khủng, sử dụng các phần mềm chỉnh sửa đồ họa cao cấp mà không lo hiệu suất.</p>
                        <div class="up-comming-time">
                            <div data-countdown="2017/02/02"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="banner-item banner-1">
                    <div class="ribbon-price">
                        <span>$ @String.Format("{0:n0}", price).00 </span>
                    </div>
                    <div class="banner-img">
                        <a href="#"><img src=@Url.Content("~/Content/ProductImages/" + Model.ElementAt(1).HinhAnh1) alt="@Model.ElementAt(1).TenSP"></a>
                        <div class="banner-info">
                            <h3><a href="#">@Model.ElementAt(1).TenSP</a></h3>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- UP COMMING PRODUCT SECTION END -->