@using CommercialWeb.Models;
@model List<ItemGioHang>
@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/CartLayout.cshtml";
}
@{ 
    IEnumerable<CuocPhi> lstCuocPhi = ViewBag.CuocPhi as IEnumerable<CuocPhi>;
    IEnumerable<HinhThucGiaoHang> lstHinhThuc = ViewBag.HinhThuc as IEnumerable<HinhThucGiaoHang>;
}
@if (Model.Count == 0)
{
    <!-- shopping-cart start -->
    <div class="tab-pane active" id="shopping-cart">
        <div class="shopping-cart-content">
            <form action="#">
                <div class="table-content table-responsive mb-50">
                    <table class="text-center">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">sản phẩm</th>
                                <th class="product-price">đơn giá</th>
                                <th class="product-quantity">số lượng</th>
                                <th class="product-subtotal">tổng tiền</th>
                                <th class="product-remove">xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- tr -->
                            <tr>
                                <td class="product-thumbnail">
                                    <div class="pro-thumbnail-img">

                                    </div>
                                    <div class="pro-thumbnail-info text-left">
                                        <h6 class="product-title-2">
                                            <a href="#"></a>
                                        </h6>
                                    </div>
                                </td>
                                <td class="product-price"></td>
                                <td class="product-quantity">
                                </td>
                                <td class="product-subtotal"></td>
                                <td class="product-remove">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6" style="float:right">
                        <div class="payment-details box-shadow p-30 mb-50">
                            <h6 class="widget-title border-left mb-20">thanh toán</h6>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="td-title-1">Tạm tính</td>
                                        <td class="td-title-2">0 VND</td>
                                    </tr>
                                    <tr>
                                        <td class="td-title-1">Phí vận chuyển</td>
                                        <td class="td-title-2">0 VND</td>
                                    </tr>
                                    <tr>
                                        <td class="td-title-1">VAT</td>
                                        <td class="td-title-2">10%</td>
                                    </tr>
                                    <tr>
                                        <td class="order-total">Tổng thành tiền</td>
                                        <td class="order-total-price">0 VND</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- shopping-cart end -->
}
else
{
    <!-- shopping-cart start -->
    <div class="tab-pane active" id="shopping-cart">
        <div class="shopping-cart-content">
            <form action="#">
                <div class="table-content table-responsive mb-50">
                    <table class="text-center">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">sản phẩm</th>
                                <th class="product-price">đơn giá</th>
                                <th class="product-quantity">số lượng</th>
                                <th class="product-subtotal">thành tiền</th>
                                <th class="product-remove">xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- tr -->
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="product-thumbnail">
                                        <div class="pro-thumbnail-img">
                                            <img src="@Url.Content("~/Content/ProductImages/"+ item.HinhAnh)" alt="Hình sản phẩm">
                                        </div>
                                        <div class="pro-thumbnail-info text-left">
                                            <h6 class="product-title-2">
                                                <a href="#">@item.TenSp</a>
                                            </h6>
                                        </div>
                                    </td>
                                    <td class="product-price">@item.DonGia.ToString("#,##") VND</td>
                                    <td id="masp" hidden="hidden">@item.MaSP</td>
                                    <td id="dongia" hidden="hidden">@item.DonGia</td>
                                    <td class="product-quantity">
                                        <div class="cart-dec-inc">
                                            <div class="dec button" id="button">-</div>
                                            <input type="text" value="@item.SoLuong" name="button" class="cart-plus-minus-box" id="soluong" readonly="readonly">
                                            <div class="inc button" id="button">+</div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal" id="thanhtien">@item.ThanhTien.ToString("#,##") VND</td>
                                    <td class="product-remove">
                                        @*<a href="" id="remove"><i class="zmdi zmdi-close"></i></a>*@
                                        <p>@Html.ActionLink(" ", "XoaGioHang", new { @MaSP = item.MaSP }, new { @class = "zmdi zmdi-close" })</p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6" style="float:right">
                        <div class="payment-details box-shadow p-30 mb-50">
                            <h6 class="widget-title border-left mb-20">thanh toán</h6>
                            <table >
                                <tbody>
                                    <tr>
                                        <td class="td-title-1" >Tạm tính</td>
                                        <td class="td-title-2" id="tamtinh">0 VND</td>
                                    </tr>
                                    <tr>
                                        <td class="td-title-1">Phí vận chuyển (chưa tính)</td>
                                        <td class="td-title-2">0 VND</td>
                                    </tr>
                                    <tr>
                                        <td class="td-title-1">VAT</td>
                                        <td class="td-title-2">10%</td>
                                    </tr>
                                    <tr>
                                        <td class="order-total">Tổng thành tiền</td>
                                        <td class="order-total-price" id="tongthanhtien">0 VND</td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="button" id="btnNext" class="submit-btn-1 mt-20" value="Tiếp theo">
                            @*@Ajax.ActionLink("Tiếp theo", "DonHangPartial", "GioHang", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "donhang", InsertionMode = InsertionMode.Replace },new { @class="update-donhang"})*@
                            @*<a href="#checkout" class="submit-btn-1 mt-20 btn-hover-1" data-toggle="tab">Tiếp theo</a>*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- shopping-cart end -->
    <!-- checkout start -->
    <div class="tab-pane" id="checkout">
        <div class="checkout-content box-shadow p-30">
            <form action="#">
                <div class="row">
                    <!-- billing details -->
                    <div class="col-md-6">
                        @using (Ajax.BeginForm("DatHang", "GioHang",
                        new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }))
                        {
                            <div class="billing-details pr-10">
                                <h6 class="widget-title border-left mb-20">thông tin khách hàng</h6>
                                <input type="text" name="txtHoTen" placeholder="Họ tên" id="hoten" required>
                                <input type="text" name="txtDiaChi" placeholder="Địa chỉ" id="diachi">
                                <!--Dropdown location start-->
                                @Html.Partial("~/Views/GioHang/KhuVucPartial.cshtml", lstCuocPhi)
                                <!--Dropdown location end-->
                                <input type="text" name="txtSDT" placeholder="Số điện thoại" id="sdt" required>
                                <input type="text" name="txtEmail" placeholder="Email" id="email" required>
                                <h6 style="font-weight:bold; color: rgb(255, 127, 0)" id="ThongBao"></h6>
                                <!--Dropdown hinh thuc start-->
                                @Html.Partial("~/Views/GioHang/HinhThucPartial.cshtml", lstHinhThuc)
                                <!--Dropdown hinh thuc end-->
                            </div>
                            <input type="submit" id="btnDatHang" class="submit-btn-1 mt-20"
                                   style="float:right; margin-right:10px" value="Đặt hàng">
                        }
                        
                    </div>
                    <div class="col-md-6">
                        <!-- our order -->
                        @*@Html.Partial("~/Views/GioHang/DonHangPartial.cshtml", lstGioHang)*@
                        <div class="payment-details pl-10 mb-50" id="donhang">
                            <h6 class="widget-title border-left mb-20">Đơn hàng</h6>
                            <table>
                                <tbody>
                                    <tr id="donhang-partial"></tr>
                                    <tr>
                                        <td class="td-title-1">Tạm tính</td>
                                        <td class="td-title-2" id="tamtinh-checkout">0 VND</td>
                                    </tr>
                                    <tr>
                                        <td class="td-title-1">Phí vận chuyển</td>
                                        <td class="td-title-2">0 VND</td>
                                    </tr>
                                    <tr>
                                        <td class="td-title-1">VAT</td>
                                        <td class="td-title-2">10 %</td>
                                    </tr>
                                    <tr>
                                        <td class="order-total">Tổng thành tiền</td>
                                        <td class="order-total-price" id="tongthanhtien-checkout">0 VND</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- payment-method -->
                        <div class="payment-method">
                            <h6 class="widget-title border-left mb-20">Hình thức giao hàng</h6>
                            <div id="accordion">
                                <div class="panel">
                                    <h4 class="payment-title box-shadow">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#bank-transfer">
                                            giao hàng tiêu chuẩn
                                        </a>
                                    </h4>
                                    <div id="bank-transfer" class="panel-collapse collapse in">
                                        <div class="payment-content">
                                            <p class="tieuchuan">Giao hàng trong vòng từ 2 đến 3 ngày kể từ ngày đặt hàng</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <h4 class="payment-title box-shadow">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            giao hàng nhanh
                                        </a>
                                    </h4>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="payment-content">
                                            <p class="giaonhanh">Giao hàng trong vòng 24 giờ kể từ thời gian đặt. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- payment-method end -->
                    </div>
                </div>
                <!--Cách tính cước start-->
                <br />
                <h6 class="widget-title border-left mb-20">Cách tính cước phí</h6>
                <!--Bảng cước phí theo từng khu vực-->
                <div class="table-content table-responsive mb-50">
                    <table class="text-center">
                        <thead>
                            <tr>
                                <th style="font-weight:bold">Khu vực</th>
                                <th style="font-weight:bold">Cước phí</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hồ Chí Minh</td>
                                <td>10,000 VND</td>
                            </tr>
                            <tr>
                                <td>Đà Nẵng-Hà Nội</td>
                                <td>14,000 VND</td>
                            </tr>
                            <tr>
                                <td>Miền Nam</td>
                                <td>13,000 VND</td>
                            </tr>
                            <tr>
                                <td>Miền Trung</td>
                                <td>16,000 VND</td>
                            </tr>
                            <tr>
                                <td>Miền Bắc</td>
                                <td>18,000 VND</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    
                <h6 class="widget-title border-left mb-20">Các tỉnh thuộc khu vực trong bảng trên</h6>
                <p>- Miền Nam: An Giang, Bình Dương, Bình Phước, Bà Rịa- Vũng Tàu, Bạc Liêu, Bến Tre, Bình Thuận, Cà Mau, Cần Thơ, Đồng Nai, Đồng Tháp, Hậu Giang, Kiên Giang, Long An, Lâm Đồng, Ninh Thuận, Sóc Trăng, Tây Ninh, Tiền Giang, Trà Vinh, Vĩnh Long, Khánh Hòa.</p>
                <p>- Miền Trung: Đắk Lắk, Đắk Nông, Bình Định, Gia Lai, Huế, Kon Tum, Phú Yên, Quảng Trị, Quảng Nam, Quảng Ngãi. </p>
                <p>- Miền Bắc: Đắk Lắk, Đắk Nông, Bình Định, Gia Lai, Huế, Kon Tum, Phú Yên, Quảng Trị, Quảng Nam, Quảng Ngãi, Nam Định, Nghệ An, Ninh Bình, Phú Thọ, Quảng Ninh, Sơn La, Thái Bình, Thái Nguyên, Thanh Hóa, Tuyên Quang, Vĩnh Phúc, Yên Bái.</p>
                <p style="color:rgb(255, 127, 0)">Tiền giao hàng thường = Tổng thành tiền của đơn hàng + cước phí khu vực </p>
                <p style="color:rgb(255, 127, 0)">Tiền giao hàng nhanh = Tổng thành tiền của đơn hàng + cước phí giao hàng nhanh + cước phí khu vực </p>
                <p style="font-style:italic">*Cước phí giao hàng nhanh: 29,000 VND / đơn hàng</p>
                <!--Cách tính cước end-->
</form>
        </div>
    </div>
   <!-- checkout end -->
}
<script type="text/javascript">
    $("#btnDatHang").click(function () {
        var hoten = $("#hoten").val();
        var diachi = $("#diachi").val();
        var sdt = $("#sdt").val();
        var email = $("#email").val();
        if (hoten.length != 0 && diachi.length != 0 && sdt.length != 0 && email.length != 0) {
            $.ajax({
                type: "POST",
                data: { hoten: hoten, diachi: diachi, sdt: sdt, email: email },
                url: '@Url.Content("DatHang")',
                success: function (ketqua) {
                    alert(ketqua);
                }
            })
        }
        
    })
    $("#dropdown-location").change(function () {
        var selected = $("#dropdown-location").val();
        var makhuvuc = 0;
        switch (selected) {
            case "kv1":
                alert('HCM');
                break;
            case "kv2":
                alert('sdfsdf');
                
                break;
            case "kv3":
                alert('kv3');
                break;
            case "kv4":
                alert('kv4');
                break;
            case "kv5":
                alert('kv5');
                break;     
        }
        //thay đổi thông tin trong mục đơn hàng ở phần Đặt hàng
        $.ajax({
            type: "POST",
            url: 'DonHangPartial',
            data: { cuocphi: cuocphi },
            success: function (ketqua) {
                $('#donhang-partial').replaceWith(ketqua);
            }
        })
    })
    $("#dropdown-hinhthuc").change(function () {
        var selected = $("#dropdown-hinhthuc").val();
        var cuocphi = 0;
        switch (selected) {
            case "hinhthuc1":
                alert("hình thức 1");
                cuocphi = 0;
                break;
            case "hinhthuc2":
                alert("hình thức 2");
                cuocphi = 29000;
                break;
        }
        //thay đổi thông tin trong mục đơn hàng ở phần Đặt hàng
        $.ajax({
            type: "POST",
            url: 'DonHangPartial',
            data:{cuocphi: cuocphi},
            success: function (ketqua) {
                $('#donhang-partial').replaceWith(ketqua);
            }
        })
    });
    var btnNextClicked = false
    $("#btnNext").click(function () {

        var banner = $(".breadcrumbs-inner").height();
        var menu = $(".full-width-mega-dropdown").height();
        var position = menu + banner - 50;
        //scroll tới chỗ bước 2
        $("html, body").animate({ scrollTop: (position) + "px" }, "slow");
        //đổi layout
        $('a[href="#checkout"]').addClass("active");
        $('.checkout-span').addClass("active");
        //đổi sang trang đặt hàng
        var href = $("#checkout-a").attr('href');
        $("#checkout-a").trigger('click');
        //thay đổi thông tin trong mục đơn hàng ở phần Đặt hàng
        //$(".update-donhang").trigger('click');
        $.ajax({
            type: "POST",
            url: 'DonHangPartial',
            success: function (ketqua) {
                $('#donhang-partial').replaceWith(ketqua);
            }
        })
    })
    jQuery(function ($) {
        $.ajax({
            type: "POST",
            data: {},
            url: '@Url.Content("TamTinh")',
            success: function (ketqua) {
                $('#tamtinh').html(ketqua);
                $.ajax({
                    type: "POST",
                    data: {},
                    url: '@Url.Content("TongThanhTien")',
                    success: function (ketqua) {
                        $('#tongthanhtien').html(ketqua);
                        $.ajax({
                            type: "POST",
                            data: {},
                            url: '@Url.Content("TamTinh")',
                            success: function (ketqua) {
                                $('#tamtinh-checkout').html(ketqua);
                                $.ajax({
                                    type: "POST",
                                    data: {},
                                    url: '@Url.Content("TongThanhTien")',
                                    success: function (ketqua) {
                                        $('#tongthanhtien-checkout').html(ketqua);
                                        
                                    }
                                })
                            }
                        })
                    }
                })
            }
        })
    });
   //Hàm tính thành tiền từng sp khi tăng số lượng, và thay đổi số lượng trên icon giỏ hàng
    $(".button").click( function () {
        var $button = $(this);
        var oldValue = $button.parent().find("input").val();
   
        if ($.isNumeric(oldValue)) {
            if ($button.text() == "+") {
                var newVal = parseFloat(oldValue) + 1;
            }
            else {
                // Không cho phép giảm số lượng dưới 0
                if (oldValue > 1) {
                    var newVal = parseFloat(oldValue) - 1;
                }
                else {
                    newVal = 1;
                }
            }
            $button.parent().find("input").val(newVal);
            var maSP = $button.parent().parent().siblings("#masp").html();
            var donGia = $button.parent().parent().siblings("#dongia").html();
            var soLuong = $button.parent().find("input").val();
            $.ajax({
                type: "GET",
                data: { masp: maSP, dongia: donGia, soluong: soLuong },
                url: '@Url.Content("TinhItemThanhTien")',
                success: function (ketqua) {
                    $button.parent().parent().siblings('#thanhtien').html(ketqua);
                    $.ajax({
                        type: "POST",
                        data: {},
                        UpdateTargetId:"giohang",
                        url: '@Url.Content("CapNhatGioHang")',
                        success: function (ketqua) {
                            $('#giohang_partial_holder').html(ketqua);
                            $.ajax({
                                type: "POST",
                                data: {},
                                url: '@Url.Content("TamTinh")',
                                success: function (ketqua) {
                                    $('#tamtinh').html(ketqua);
                                    $.ajax({
                                        type: "POST",
                                        data: {},
                                        url: '@Url.Content("TongThanhTien")',
                                        success: function (ketqua) {
                                            $('#tongthanhtien').html(ketqua);
                                        }
                                    })
                                }
                            })
                        }
                    })
                }
            })
        }
    });
</script>
