@model IEnumerable<CommercialWeb.Models.DonHang>
@{
    ViewBag.Title = "ChuaThanhToan";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 20);
}
<p class="home"><a href="@Url.Action("ChuaGiao", "QuanLyDonhang")">Trang chủ</a> > <strong> Chưa thanh toán</strong></p>
<br />
<h1 style="font-weight:bold; margin:5px; text-align:center">QUẢN LÝ ĐƠN HÀNG</h1>
<br />

<ul class="nav nav-tabs">
    <li role="presentation"><a href="@Url.Action("ChuaGiao", "QuanLyDonHang")">Chưa giao & Đã thanh toán</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("ChuaThanhToan","QuanLyDonHang")">Chưa thanh toán</a></li>
    <li role="presentation"><a href="@Url.Action("DaGiaoDaThanhToan", "QuanLyDonHang")">Đã giao hàng</a></li>
    <li role="presentation"><a href="@Url.Action("DaHuy", "QuanLyDonHang")">Đã hủy</a></li>
</ul>  
@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("MaDonHang", header: "Mã đơn hàng"),
        grid.Column("MaKH", header: "Họ tên KH", format: p => p.MaKH != null ? p.KhachHang.HoTen : ""), 
        grid.Column("NgayMua", header: "Ngày mua"),
        grid.Column("TinhTrangDonHang.TenTinhTrang", header: "Tình trạng giao hàng"),
        grid.Column("NgayGiao", header: "Ngày giao"),
        grid.Column("DaThanhToan", header: "Đã thanh toán"),
    grid.Column(format: p => @Html.ActionLink("Duyệt đơn hàng", "DuyetDonHang", new { id = p.MaDonHang }, new { @target = "_blank" }))
    ))
<br />
<h4>Tổng cộng: <b style="color: red">@Model.Count()</b> đơn hàng chưa thanh toán.</h4>
@*Css cho controller*@
<style>
    .gridTable {
        font-size: 13px;
        width: 100%;
        /*border: 1px solid #000;*/
        padding: 0.5em;
    }

        .gridTable td {
            /*border: 1px solid #000;*/
            padding: 0.5em;
            background-color: rgba(215, 229, 227, 1);
        }

    .gridHead {
        background-color: #27ae60;
        padding: 0.5em;
        /*text-decoration: underline;*/
    }

        .gridHead > th {
            /*border: 1px solid #000;*/
            color: #fff;
            padding: 0.5em;
        }

            .gridHead > th:hover {
                color: #fff;
                background-color: #22d425;
            }

    .gridFooter a {
        font-weight: bold;
        padding: 2px;
        border: 1px solid #999999;
    }
</style>
