@using CommercialWeb.Models
@model IEnumerable<ItemDonHang>
@foreach (var item in Model)
{
    <tr>
        <td>@item.MaSP</td>
        <td>@item.TenSP</td>
        <td>@item.SoLuong</td>
        <td>@item.ThoiHanBaoHanh</td>
        <td>@item.DonGia</td>
        <td data-toggle='tooltip' data-placement='right' title='"@item.TenKhuyenMai"'>@item.MoTa %</td>
        <td>@item.GiaBan</td>
        <td>@Html.ActionLink("Xóa", "XoaItemDonHang", new { @MaSP = item.MaSP }, new { @class = "btn btn-info" })</td>
    </tr>
}