

<div class="navigation">
    <h3>Quản lý</h3>
    <ul>
        <li><a href="#"><i class="chat"></i></a></li>
        <li><a href="#">Charts</a></li>
    </ul>
    <ul>
        <li><a href="#"><i class="art"></i></a></li>
        <li><a href="#">Articals</a></li>
    </ul>
    <ul>
        <li><a href="@Url.Action("ChuaGiao", "QuanLyDonHang")"><i class="page"></i></a></li>
        <li><a href="@Url.Action("ChuaGiao", "QuanLyDonHang")">Quản lý đơn hàng</a></li>
    </ul>
    <ul>
        <li><a href="@Url.Action("ThongKeTheoThang", "ThongKe")"><i class="dash"></i></a></li>
        <li><a href="@Url.Action("ThongKeTheoThang", "ThongKe")">Thống kê</a></li>
    </ul>
    <ul>
        <li><a href="@Url.Action("DanhSachKhuyenMai", "KhuyenMai")"><i class="fat"></i></a></li>
        <li><a href="@Url.Action("DanhSachKhuyenMai", "KhuyenMai")">Quản lý khuyến mãi</a></li>
    </ul>
    <ul>
        <li><a href="#"><i class="setting"></i></a></li>
        <li><a href="#">Phân quyền</a></li>
    </ul>
</div>

