
@{
    ViewBag.Title = "ThongKeTheoNam";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

@*-----------------Address Link------------------------*@
<p class="home"><a href="@Url.Action("ChuaGiao", "QuanLyDonhang")">Trang chủ</a> > <strong> Thống kê</strong></p>
<br />
@*-------------------------Page Name--------------------*@
<h1 style="font-weight:bold; margin:5px; text-align:center">THỐNG KÊ BÁN HÀNG</h1>
<br />

@*----------------------------Page Navigation bar-----------------*@
<ul class="nav nav-tabs" style="">
    <li role="presentation"><a href="@Url.Action("ThongKeTheoThang", "ThongKe")">Thống kê theo tháng </a></li>
    <li role="presentation"><a href="@Url.Action("ThongKeTheoQuy","ThongKe")">Thống kê theo quý</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("ThongKeTheoNam", "ThongKe")">Thống kê theo năm</a></li>
</ul>

@*---------------------------Page Content-------------------------*@
@using (Html.BeginForm("ThongKeTheoNam", "ThongKe", FormMethod.Post))
{
    <div class="option-item">
        <div style="display:inline; margin-left:1em">Năm:</div>
        <input placeholder="2016" required name="nam" class="form-control" type="text" style="display:inline; width: 100px; margin:1em" />
        <input type="submit" class="btn btn-info" value="Xem thống kê" style="display:inline; margin:1em">
    </div>
    <div style="padding: 1em; background-color:white">
        <h3 style="padding:1em 0em; font-weight:bold">THỐNG KÊ NĂM <span style="color:red">@ViewBag.Nam</span></h3>
        <h3 style="padding-top:1em">Tổng doanh thu tháng: <span style="color:red; font-weight:bold">@String.Format("{0:n0}", ViewBag.TongTien) </span><span style="color:blue">VNĐ</span></h3>
        <h3 style="padding-top:1em">Tổng sản phẩm bán ra: <span style="color:red; font-weight:bold">@ViewBag.TongSanPham </span><span style="color:blue">Sản phẩm</span></h3>
    </div>
}

<style>
    .option-item {
        padding: 1em;
        font-size: 1em;
    }

    .nav > li > a {
        padding: 7px 46.9px;
    }
</style>

